@use "global" as *;

.blog {
  padding-top: rem(79);
  padding-bottom: rem(40);
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: 0;
    background: url(../images/common/blog-bg.jpeg) no-repeat top center /
      contain;
    position: relative;
  }
}

.blog__decoration {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    top: rem(24);
    left: calc(50% - min(48.4vw, 38.875rem));
    width: rem(437);
  }
}

.blog__decoration img {
  @include mq(md) {
    display: block;
    max-width: 100%;
    width: 100%;
  }
}

.blog__cards {
  margin-top: rem(28);
  margin-right: rem(6);
  margin-left: rem(6);
  display: flex;
  flex-direction: column;
  gap: rem(39);
  @include mq(md) {
    margin-top: rem(80);
    margin-right: 0;
    margin-left: 0;
    flex-direction: row;
  }
}

.blog__btn {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}
