@use "global" as *;

.campaign {
  padding-top: rem(40);
  padding-bottom: rem(40);
  @include mq(md) {
    padding-top: rem(120);
    padding-bottom: rem(70);
  }
  overflow: hidden;
}

.campaign__inner {
  @include mq(md) {
    padding-left: rem(140);
    position: relative;
  }
}

.campaign__btn {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}