@use "global" as *;

.footer {
  background-color: $main-bg-color;
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq(md) {
    padding: rem(80) 0;
  }
}

.footer__inner {
  @include mq(md) {
    max-width: calc(rem(1008) + rem(25) * 2);
    width: 100%;
  }
}

.footer__head {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  @include mq(md) {
    flex-direction: row;
    gap: rem(40);
  }
}

.footer__logo {
  width: rem(120);
  @include mq(md) {
    width: rem(200);
  }
}

.footer__logo img {
  width: 100%;
}

.footer__sns {
  display: flex;
  gap: rem(16);
  @include mq(md) {
    margin-top: rem(38);
  }
}

.footer__sns-icon {
  width: rem(24);
  padding: rem(2.25);
  @include mq(md) {
    width: rem(32);
      padding: rem(3);
    }
}

.footer__sns-icon img {
  width: 100%;
}

.footer__nav {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(24);
  }
}

.footer__copyright {
  margin-top: rem(40);
  text-align: center;
  @include mq(md) {
    margin-top: rem(80);
  }
}

.footer__copyright small {
  font-size: rem(12);
  font-family: $english-main-font-family;
  line-height: 1.5;
  color: $white;
}