@use "global" as *;

.information {
  background-color: $sub-bg-color;
  padding-top: rem(79);
  padding-bottom: rem(78);
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(76);
  }
}

.information__inner {
  width: 100%;
  @include mq(md) {
    max-width: calc(rem(1080) + $padding-pc * 2);
  }
}

.information__items {
  margin-top: rem(28);
  @include mq(md) {
    margin-top: rem(40);
  }
}
