@use "global" as *;

.voice {
  padding-top: rem(37);
  padding-bottom: rem(78);
  @include mq(md) {
    padding-top: rem(138);
    padding-bottom: rem(140);
    position: relative;
  }
}

.voice__decoration1 {
  display: none;
  @include mq(md) {
    display: block;
    transform: scale(-1, 1);
    position: absolute;
    top: rem(18);
    left: calc(50% - min(48.4vw, 38.875rem));
    width: rem(301);
  }
}

.voice__decoration2 {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    bottom: 4.74rem;
    right: calc(50% - min(48.4vw, 33.8rem));
    width: rem(71);
  }
}

.voice__inner {
}

.voice__cards {
  margin-top: rem(44);
  display: flex;
  flex-direction: column;
  gap: rem(38);
  @include mq(md) {
    margin-top: rem(30);
    flex-direction: row;
  }
}

.voice__card {
}

.voice__btn {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}
