@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 40px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$english-main-font-family: 'Gotu', sans-serif;
$english-sub-font-family: 'Lato', sans-serif;
$japanese-font-family: 'Noto Sans JP', sans-serif;
// $japanese-sub-font-family: "";
// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
$regular: 400;
$normal: 500;
$bold: 700;

body {
  font-family: $japanese-font-family;
  font-weight: $regular;
  position: relative;
}

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #0D2936;
$white: #fff;
$accent-color: #F2F2F2;
$main-bg-color: #408F95;
$sub-bg-color: #DDF0F1;

