@use "global" as *;

.contact-boxes {
  background: $white;
  @include mq(md) {
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    padding: rem(78) rem(39) rem(75) rem(50);
  }
}

.contact-box {
  display: flex;
  flex-direction: column;
  gap: rem(35);
  text-align: center;
  @include mq(md) {
    flex-direction: row;
    gap: rem(75);
  }
}

.contact-box__left {
  @include mq(md) {
    width: rem(456);
  }
}

.contact-box__right {
  @include mq(md) {
    width: 48%;
    border-left: 1px solid $main-bg-color;
  }
}

.contact-box__logo {
  display: block;
}

.contact-box__logo img {
  display: inline-block;
  width: rem(174);
  aspect-ratio: 174 / 65;
  @include mq(md) {
    width: 100%;
    max-width: rem(200);
  }
}

.contact-box__access {
  @include mq(md) {
    margin-top: rem(3);
    padding-top: rem(8);
    display: flex;
    gap: rem(15);
    border-top: rem(1) solid $main-bg-color;
  }
}

.contact-box__address {
  margin-top: rem(16);
}

.contact-box__address + .contact-box__address {
  margin-top: rem(4);
}

.contact-box__address p {
  color: $black;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.7;
  @include mq(md) {
    text-align: left;
  }
}

.contact-box__map {
  width: rem(295);
  aspect-ratio: 295 / 160;
  margin-top: rem(16);
  margin-right: auto;
  margin-left: auto;
  @include mq(md) {
    width: rem(273);
  }
}

.contact-box__map iframe {
  width: 100%;
  height: 100%;
  @include mq(md) {
    width: rem(273);
  }
}

.contact-box__btn {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(31);
  }
}
