
@use "global" as *;

.mv-title {
  
}

.mv-title__wrapper {
}


.mv-title__mainTitle,
.mv-title__subTitle {
  text-align: center;
  color: $white;
  font-weight: $regular;
}

.mv-title__mainTitle {
  padding-left: rem(20);
  font-family: $english-sub-font-family;
  font-size: rem(40);
  letter-spacing: rem(21.6);
  line-height: 1;
  @include mq(md) {
    font-size: rem(80);
    letter-spacing: rem(43.2);
  }
}

.mv-title__subTitle {
  margin-top: rem(8);
  font-family: $english-main-font-family;
  font-size: rem(20);
  line-height: 1;
}

.mv-title--color {
  color: $main-bg-color;
}