@use "global" as *;

.nav {
  display: inline-block;
  background: $main-bg-color;
}

.nav__inner {
  padding-left: rem(22);
}

.nav.is-active {
  display: block;
}

.nav__items {
  display: flex;
  gap: rem(38);
  @include mq(md) {
    gap: rem(142);
  }
}

.nav__item--sp {
  display: flex;
  flex-direction: column;
  gap: rem(40);
  @include mq(md) {
    flex-direction: row;
    gap: rem(142);
  }
}

.nav__item--pc {
  display: flex;
  flex-direction: column;
  gap: rem(40);
}


.nav__parent,
.nav__child {
  font-size: rem(16);
  line-height: calc(rem(18) / rem(16));
  color: $white;
}

.nav__parent {
  font-weight: $bold;
  position: relative;
}

.nav__parent::before {
  content: "";
  display: block;
  width: rem(18);
  height: rem(18);
  position: absolute;
  // top: 50%;と、transform: translateY(-50%) で上下中央に配置
  top: rem(9);
  left: rem(-22);
  transform: translateY(-50%);
  background: url(../images/common/nav_icon.svg) no-repeat center center / contain;
}

.nav__child {
  margin-top: rem(24);
  font-weight: $regular;
}