@use "global" as *;

.section-header {
text-align: center;
}

.section-header__englishTitle {
  color: $black;
  font-family: $english-main-font-family;
  font-size: rem(32);
  line-height: 1.25;
  @include mq(md) {
    font-size: rem(40);
    line-height: 1;
  }
}

.section-header__englishTitle span {
  color: $main-bg-color;
}

.section-header__japaneseTitle {
  margin-top: rem(4);
  color: $main-bg-color;
  font-size: rem(12);
  line-height: 1.5;
  @include mq(md) {
    margin-top: rem(8);
  }
}
